.logoContainer {
  border-radius: 50%;
  width: 12vh;
  height: 12vh;
  img {
    object-fit: contain;
  }
}
.flag {
  display: flex;
  height: 3vh;
  background: rgba(0, 0, 0, 0.5);
  justify-content: flex-end;
  img {
    height: 3vh;
    width: 100%;
    object-fit: fill !important;
  }
}
