.nav-item {
  min-width: 6vw;
  a {
    padding: 0;
    color: #000;
    &:hover {
      color: red !important;
    }
  }
}

.active {
  color: red !important;
}

.navbar {
  //   background-image: url("../images/road2.jpg");
  // background: var(--road-grey);
  //   background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 10vh;

  .navbar-nav {
    // border-top: 3px solid whitesmoke;
    // border-bottom: 3px solid whitesmoke;
  }
}
