.imgContainer {
  width: 100%;
  //   min-height: 10vh;
  height: 78vh;
  //   height: 100%;
  background: url(../images/participantBanner.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
